################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Web API Practice/v16/Server/sqlite3/db.lock
